<template>
  <div />
</template>

<script>

export default {
  name: 'ConvertCurrencyComponent',
  data () {
    return {
      valueFromCurrency: null,
      valueToCurrency: null
    }
  },
  methods: {
    getRatesData (data) {
      this.$nextTick(() => {
        this.$emit('onResetCalculatedData', this.$_calculateCurrency(data))
      })
    },
    $_calculateCurrency (data) {
      var from = this.$_separation(data.from)
      var to = this.$_separation(data.to)
      var сalculatedFrom = data.amount / from.value
      var сalculatedTo = сalculatedFrom * to.value
      return 'You have converted ' + data.amount + ' ' + from.name + ' to ' + to.name + '  Вesign value: ' + сalculatedTo.toFixed(2) + '  ' + to.name
    },
    $_separation: function (data) {
      return data.reduce(function (result, key) {
        result['name'] = key.name
        result['value'] = key.value
        return result
      }, {})
    }
  }
}
</script>
