<template>
  <div class="c-index">
    <h2>{{ message }}{{ today }}</h2>
    <div>
      <div v-show="Object.keys(errorMessage).length > 0">Please, You have to set: </div>
      <span :class="{'enter-error': errorMessage['from'] !== undefined}">From</span>
      <select id="from" v-model="selecdedRateFrom">
        <option v-for="(itemFrom, index) in $_currentRates" :key="index" :value="itemFrom.name">{{ itemFrom.name }}</option>
      </select>
      <span :class="{'enter-error': errorMessage['to'] !== undefined}">To</span>
      <select id="to" v-model="selecdedRateTo">
        <option v-for="(itemTo, index) in $_currentRates" :key="index" :value="itemTo.name">{{ itemTo.name }}</option>
      </select>
    </div>
    <div>Enter <span :class="{'enter-error': errorMessage['amount'] !== undefined}">Amount</span> currency to convert
      <input v-model="amount" type="number" min="1" />
    </div>
    <p align="left" style="margin: 0 25px 25px 0;">
      <Button class="" @click="$_convertCurrencyClick">{{ convert }}</Button>
    </p>
    <convert-currency-component ref="convertСurrencyComponent" @onResetCalculatedData="$_showCalculateDate" />
    <div v-if="resultOfConverted !== null"><h4>{{ resultOfConverted }}</h4></div>
  </div>
</template>

<script>
import WebClient from '../services/WebClient.js'
import dateHelper from '../helpers/DateHelper'
import ConvertCurrencyComponent from './ConvertCurrencyComponent.vue'

const urlComponents = 'latest.json?app_id=74190d8a55834a4f8b5cc9709f6fc0af'
export default {
  name: 'OpenExchange',
  components: {
    WebClient,
    ConvertCurrencyComponent
  },
  data () {
    return {
      convert: 'Convert',
      message: 'Welcome to openExchange, today ',
      amount: 0,
      selecdedRateFrom: '',
      selecdedRateTo: '',
      exchangeRates: {},
      errorMessage: [],
      resultOfConverted: null,
      today: ''
    }
  },
  computed: {
    $_сonvertСurrencyComponent () {
      return this.$refs.convertСurrencyComponent
    },
    $_currentRates () {
      var rates = this.exchangeRates.rates
      if (rates) {
        var ratesContain = []
        Object.keys(rates).map((key) => {
          ratesContain.push({name: key, value: rates[key]})
        })
        return ratesContain || []
      }
      return []
    }
  },
  created () {
    this.getTodayRate()
  },
  methods: {
    $_showCalculateDate (converted) {
      this.resultOfConverted = converted
      this.$_resetCalculatedData()
    },
    $_resetCalculatedData () {
      this.amount = 0
      this.selecdedRateFrom = ''
      this.selecdedRateTo = ''
    },
    $_haveDataFilled (data) {
      this.errorMessage = []
      for (let item in data) {
        if (data[item].length === 0 || data[item] === 0) {
          this.errorMessage[item] = item.toUpperCase()
        }
      }
      if (Object.keys(this.errorMessage).length > 0) {
        return false
      }
      return true
    },
    $_convertCurrencyClick () {
      var dataToConvert = {
        from: this.$_currentRates.filter(x => x.name === this.selecdedRateFrom.toString()),
        to: this.$_currentRates.filter(x => x.name === this.selecdedRateTo.toString()),
        amount: +this.amount
      }
      if (this.$_haveDataFilled(dataToConvert)) {
        this.$_сonvertСurrencyComponent.getRatesData(dataToConvert)
      }
      this.resultOfConverted = null
    },
    getTodayRate: function () {
      var url = urlComponents
      WebClient.get(url, data => {
        this.exchangeRates = data
        this.today = dateHelper.format(new Date(data.timestamp * 1000))
      },
      (status, error) => {
      })
    }
  }
}
</script>
<style scoped>
  .enter-error {
    color: red;
  }
  .c-index {
    background-color: white;
  }
</style>
