@font-face {
  font-family: 'Sanss';
  src: url('../fonts/sanss___.eot');
  src: url('../fonts/sanss___.eot?#iefix') format('embedded-opentype'), url('../fonts/sanss___.ttf') format('truetype'), url('../fonts/sanss___.svg#open_sansregular') format('svg'), url('../fonts/sanss___.woff2') format('woff2'), url('../fonts/sanss___.woff') format('woff');
  font-weight: normal;
}
