<template>
  <div id="app">
    <img src="./assets/logo.png"/>
    <div><open-exchange/></div>
  </div>
</template>

<script>
import openExchange from './components/OpenExchange.vue'
export default {
  name: 'App',
  components: {
    openExchange
  }
}
</script>

<style>
#hello {
  font-family: Verdana;
  color: navy;
}
</style>

<style>
#hello {
  font-family: Verdana;
  color: navy;
}
</style>
